[general]
chrLenFile= /hpc/cog_bioinf/GENOMES/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.len
ploidy=2,3,4
minimalSubclonePresence=10
samtools=/hpc/local/CentOS7/cog_bioinf/samtools-1.2/samtools
sambamba=/hpc/local/CentOS7/cog_bioinf/sambamba_v0.6.5/sambamba
chrFiles= /hpc/cog_bioinf/GENOMES/Homo_sapiens.GRCh37.GATK.illumina/chr_files
window=1000
maxThreads=12
telocentromeric=50000
BedGraphOutput=TRUE
gemMappabilityFile=/hpc/cog_bioinf/common_dbs/hg19_mappability_tracks/out100m2_hg19.gem
outputDir=.
[sample]
inputFormat=BAM
mateOrientation=FR
mateFile=$BAM
